<!DOCTYPE HTML>
<html>
  <head>
   <title>The Future Of School Information Management | VX-ISM :: evix</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="description" content="Best school information management system.">
    <meta name="keywords" content="Best school information management system, kenya school management system, school websites, best school services, examinations management for schools in Kenya">
    <meta name="author" content="john wamburu <wamburujohn@gmail.com> @johnwamburu">

    <link rel="icon" href="/static/images/logo_.png">
	<link rel="shortcut icon" href="/static/images/logo_.png" />

   <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
   <link href="/static/css/accordion.css" rel="stylesheet" type="text/css" media="all"/>
   <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700' rel='stylesheet' type='text/css'>
   <script type="text/javascript" src="/static/js/jquery.min.js"></script>
   <!-- Add fancyBox main JS and CSS files -->
	<script type="text/javascript" src="/static/js/jquery.fancybox.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox.css" media="screen" />
	<script type="text/javascript" src="/static/js/jquery.fancybox-media.js"></script>	
	<script type="text/javascript">
	/******** Fancy Light Box*********/
		$(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$('.fancybox').fancybox();
			
			/*
			 *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
			*/
			$('.fancybox-media')
				.attr('rel', 'media-gallery')
				.fancybox({
					openEffect : 'none',
					closeEffect : 'none',
					prevEffect : 'none',
					nextEffect : 'none',

					arrows : false,
					helpers : {
						media : {},
						buttons : {}
					}
				});
		});
	</script>
   <script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>
   <script type="text/javascript" src="/static/js/jquery.mixitup.min.js"></script>    
	<script type="text/javascript">
	$(function () {
		
		var filterList = {
		
			init: function () {
			
				// MixItUp plugin
				// http://mixitup.io
				$('#portfoliolist').mixitup({
					targetSelector: '.portfolio',
					filterSelector: '.filter',
					effects: ['fade'],
					easing: 'snap',
					// call the hover effect
					onMixEnd: filterList.hoverEffect()
				});				
			
			},
			
			hoverEffect: function () {
			
			}

		};
		
		// Run the show!
		filterList.init();
			
	});	
 </script>

	<script type="text/javascript">
$(document).ready(function() {
	$(".various").fancybox({
		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
 </script>

<!-- accordion -->
<script src="/static/js/prefixfree.min.js"></script>
<!-- accordion -->
</head>
<body>
        <div class="header" id="home">  	   
	        <div class="header_top">
	        	<div class="wrap">	      	   
		 	     <div class="logo">
						<a href="#home"><img src="/static/images/logo.png" alt="" /></a>
					</div>	
						<div class="menu">
						  <a class="toggleMenu" href="#"><img src="/static/images/nav.png" alt="" /></a>
						    <ul class="nav" id="nav">
						    	<li class="current"><a href="#home">Home</a></li>
						    	<li><a href="#services">Products</a></li>
						    	<li><a href="#skills">Features</a></li>
						    	<li><a href="#team">Our Team</a></li>
						    	<li><a href="#works">FAQ</a></li>
								<li><a href="#about">Feedback</a></li>																
								<li><a href="#contact">Contact</a></li>								
								<div class="clear"></div>
							</ul>
							<script type="text/javascript" src="/static/js/responsive-nav.js"></script>
						</div>							
	    		 <div class="clear"></div>
	          </div>
	       </div>
	          <div class="header_desc">
	          	<div class="wrap">	   
	          	   <p>Hi there! We are the new kids on the block <br />and we build revolutionary applications for our clients.</p>	
	          	   <div class="button home-button"><a class="fancybox-media" href="http://vimeo.com/33790882">Tell Me More</a></div>          	
	           </div>
	         </div>
	   </div>			      	
     <div class="main">
	 	<div class="content">	
	 	   <!---- Services ------>
	 		  <div class="services" id="services">
	 		 	<div class="wrap">
	 		 	    <h2>Our Products</h2>
	 		 	      <div class="line green"><span> </span></div>
	 		            <h4>Our priority is to enhance the efficiency in which school related tasks, both academic and administrative, are performed.</h4>
	 		 	             <div class="services_grids">
							     <div class="section group">
									<div class="grid_1_of_4 services_1_of_4">
										 <img src="/static/images/vx_ism.png" alt="" />
										 <h3>VX ISM</h3>
										 <p>State of the art information management software developed using the latest development & test tools, and that has <a href="#about">demonstrated its capability.</a></p>
									</div>
									<div class="grid_1_of_4 services_1_of_4">
										 <img src="/static/images/school_pages.png" alt="" />
										 <h3>VX School-Pages</h3>
										 <p>Fully functional school web page with a perpetual online portal, creating a virtual link between the school, parents, board members, and other stakeholders.</p>
									</div>
									<div class="grid_1_of_4 services_1_of_4">
										 <img src="/static/images/vx_saas.png" alt="" />
										  <h3 style="text-transform:none">VX SaaS</h3>
										  <p>No need to worry about compute or storage resources! VX SaaS takes care of all that, allowing you to concentrate on your school's core business.</p>
									</div>
									<div class="grid_1_of_4 services_1_of_4">
										 <img src="/static/images/express_c.png" alt="" />
										  <h3>VX Express C</h3>
										  <p>Fully customized version of the standard Vx ISM with all your tweaks/additions incorporated to address diverse client needs and satisfaction.</p>
									</div>
					              </div>
					            </div>
					        </div>
	 		           </div>	
	 		            		           
	         <!---- Skills    ---->
	           <div class="Skills" id="skills">
	 		 	<div class="wrap">
	 		 	    <h2>VX : Features & Functions</h2>
	 		 	      <div class="line skyblue"><span> </span></div>
	 		            <h4>Software combined with integrated modules.</h4>
	 		 	             <div class="services_grids">
	 		 	             	<div id="canvas">
							     <div class="section group">
									<div class="grid_1_of_4 team_1_of_4">	
										<div class="circle" id="circles-1"></div>
										 <h3>VX Data-Sink</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
									<div class="grid_1_of_4 team_1_of_4">
										<div class="circle" id="circles-2"></div>
										 <h3>VX-Finance</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
									<div class="grid_1_of_4 team_1_of_4">
										<div class="circle" id="circles-3"></div>
										  <h3>VX Exam-Manager</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
									<div class="grid_1_of_4 team_1_of_4">
										<div class="circle" id="circles-4"></div>
										  <h3>VX Analytics</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
									<div class="grid_1_of_4 team_1_of_4">
										<div class="circle" id="circles-4"></div>
										  <h3>VX Book Catalogue</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
									<div class="grid_1_of_4 team_1_of_4">
										<div class="circle" id="circles-4"></div>
										  <h3>VX Communicator</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
									<div class="grid_1_of_4 team_1_of_4">
										<div class="circle" id="circles-4"></div>
										  <h3>VX Registry</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
									<div class="grid_1_of_4 team_1_of_4">
										<div class="circle" id="circles-4"></div>
										  <h3>VX School-Page</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
									<div class="grid_1_of_4 team_1_of_4">
										<div class="circle" id="circles-4"></div>
										  <h3>VX-HR</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
									<div class="grid_1_of_4 team_1_of_4">
										<div class="circle" id="circles-4"></div>
										  <h3>VX Disciplinary</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
									<div class="grid_1_of_4 team_1_of_4">
										<div class="circle" id="circles-4"></div>
										  <h3>VX House Manager</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
									<div class="grid_1_of_4 team_1_of_4">
										<div class="circle" id="circles-4"></div>
										  <h3>VX-ER</h3><p>This is going to become a paragraph. And this is going to become another one</p>
									</div>
					              </div>
					              </div>
					            </div>
					          </div>
	 		           </div>

	  <!---- Team ------>
	     <div class="team" id="team">
	 		 	<div class="wrap">
	 		 	    <h2>MEET THE TEAM</h2>
	 		 	      <div class="line skyblue"><span> </span></div>
	 		            <h4>A small team with big ideas!</h4>
	 		 	             <div class="services_grids">
							     <div class="section group">
									<div class="grid_1_of_4 team_1_of_4 width_32">
										 <img src="/static/images/team1.jpg" alt="" />
										 <h3>John Mbari</h3>
										 <h5>Chairman / Pythonista</h5>
										 <p>A software engineer, experienced in mobile and web development, artificial intelligence and machine learning.</p><h5><a href="" style="color:blue">Read More &raquo;</a></h5>
									  <div class="social_networks">
									  	 <ul>
											<li><a href=""> <i class="facebook"> </i> </a></li>
											<li><a href=""><i class="twitter"> </i> </a></li>
											<li><a href=""><i class="inliked"> </i> </a></li>
											<li><a href=""><i class="mail"> </i> </a></li>
											<div class="clear"> </div>
										 </ul>
									  </div>
									</div>
									<div class="grid_1_of_4 team_1_of_4 width_32">
										 <img src="/static/images/team1.jpg" alt="" />
										 <h3>Jimnah Njue</h3>
										 <h5>CEO / Design Master</h5>
										 <p>Jimnah's story.</p><h5><a href="" style="color:blue">Read More &raquo;</a></h5>
									    <div class="social_networks">
									  	 <ul>
											<li><a href=""><i class="twitter"> </i> </a></li>
											<li><a href=""><i class="inliked"> </i> </a></li>
											<li><a href=""><i class="mail"> </i> </a></li>
											<div class="clear"> </div>
										 </ul>
									  </div>
									</div>
									<!--<div class="grid_1_of_4 team_1_of_4">
										 <img src="/static/images/team3.jpg" alt="" />
										  <h3>Olivia Wilde</h3>
										  <h5>Lead Designer</h5>
										  <p>Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
									   <div class="social_networks">
									  	 <ul>
											<li><a href=""> <i class="facebook"> </i> </a></li>
											<li><a href=""><i class="twitter"> </i> </a></li>
											<li><a href=""><i class="inliked"> </i> </a></li>
											<li><a href=""><i class="mail"> </i> </a></li>
											<div class="clear"> </div>
										 </ul>
									  </div>
									</div>-->
									<div class="grid_1_of_4 team_1_of_4 width_32">
										 <img src="/static/images/team1.jpg" alt="" />
										  <h3>Peter Gitau</h3>
										  <h5>COO / Marketing Guru</h5>
										  <p>Peter's story.</p><h5><a href="" style="color:blue">Read More &raquo;</a></h5>
									    <div class="social_networks">
									  	 <ul>
											<li><a href=""> <i class="facebook"> </i> </a></li>
											<li><a href=""><i class="twitter"> </i> </a></li>
											<li><a href=""><i class="mail"> </i> </a></li>
											<div class="clear"> </div>
										 </ul>
									  </div>
									</div>
					              </div>
					            </div>
					        </div>
	 		           </div>

	            <!-----Portfolio-------->
	            <div class="portfolio-grid" id="works">
	 		 	  <div class="wrap">
	 		 	    <h2>Frequently Asked Questions</h2>
	 		 	      <div class="line green"><span> </span></div>
	 		            <h4>This is a short list of our most frequently asked questions. For more info about VX, or if you need support, please <a href="#contact">contact us.</a></h4>
						      <div class="container">
							<div id="portfoliolist">
								    <div class="portfolio web icons" data-cat="web">
										<div class="portfolio-wrapper">
										    <div class="accordion-container">
											  <div class="accordion">
											    <dl>
											      <dt><a class="accordionTitle" href="#">What exactly is VX ISM?</a></dt>
											      <dd class="accordionItem accordionItemCollapsed">
												<p>VX-ISM (Virtual Exchange – Integrated School Manager) is a state of the art school information management system developed using the latest Python development & test tools whose main priority is to enhance the efficiency in which school related tasks, both academic and administrative, are performed. VX-ISM incorporates various modules, some of which are interdependent, into one complete package. These inbuilt modules are tasked with the responsibility of handling core school management activities ranging from students admission and examination analysis to the financial management of cash flows.</p>
											      </dd>
											      <dt><a class="accordionTitle" href="#">There's talk all over about VX SaaS - can you tell me more?</a></dt>
											      <dd class="accordionItem accordionItemCollapsed">
												<p>Vx Saas (Software as a Service) is an online platform of the Vx ISM which is hosted by our central Vx servers. This enables easy access of the system, by the school’s administrative body, from any location and at their convenience through a reliable internet connection. Introduction
of Vx SaaS aims at enhancing the flexibility of school administration, while still maintaining utmost efficiency levels.</p>
											      </dd>
											      <dt><a class="accordionTitle" href="#">I want to acquire VX Express C - where do I start?</a></dt>
											      <dd class="accordionItem accordionItemCollapsed">
												<p>Vx Express C is a fully customizable version of the standard Vx ISM. It is simply a tailor made
version of Vx ISM developed under the principles of dynamism and professionalism, in the sense that client specifications/additional tweaks are incorporated into the system to address diverse client needs and satisfaction. Vx Express C is an “on request” service/product, subject to discussions with the client. To leave an order please navigate to “PRODUCTS” from the main menu and click on Vx Express C.</p>
											      </dd>
											      <dt><a href="#" class="accordionTitle">How is VX different from other systems?</a></dt>
											      <dd class="accordionItem accordionItemCollapsed">
												<p>Vx ISM consists of various modules that handle virtually all the school related tasks ranging
from the academic to administrative aspects. These modules ease school management with regards to the following fields: Examination analysis and reports, school financial management, student discipline and monitoring, library and stock taking, internal and external communication (SMS alerts), and last but not least, student database and human resource management. In addition to that, Vx ISM offers a comprehensive and detailed analysis of all these aspects. With such components in place, school management efficiency levels can only get better.</p>
											      </dd>
											      <dt><a href="#" class="accordionTitle">My school has acquired VX - tell me about support.</a></dt>
											      <dd class="accordionItem accordionItemCollapsed">
												<p>At evix, our policy is to ensure maximum client satisfaction by availing timely updates and
providing professional support in the occurrence of any technical hitches. Our dedicated client support team is always ready to respond and act swiftly to any inquiries or problems that users
might encounter during their Vx experience. Rest assured that you will always have the support team’s undivided attention.</p>
											      </dd>
											    </dl>
											  </div>
											</div><!--accordion ends here -->
										</div>
									</div>		
																	
								 <div class="portfolio apps" data-cat="apps">
										<div class="portfolio-wrapper">
										    <div class="accordion-container">
											  <div class="accordion0">
											    <dl>
											      <dt><a class="accordionTitle" href="#">What exactly is VX School-Pages?</a></dt>
											      <dd class="accordionItem accordionItemCollapsed">
												<p>The Vx School Pages is an integrated fully fledged interactive SaaS (Software as aService) platform that incorporates a fully functional school website with a perpetual online portal. The online portal creates a virtual link between the school and the relevant users whereby concerned parents can easily access past and present overall school performances and keep close tabs on their sons/daughters in terms of their performance, class attendance and overall discipline. This module also accommodates an alumni community with an efficient communication channel for the purposes of posting important school news from the school’s administrative body.</p>
											      </dd>
											      <dt><a class="accordionTitle" href="#">I heard that customer experience here is the best - how so?</a></dt>
											      <dd class="accordionItem accordionItemCollapsed">
												<p>Evix goes an extra mile to ensure that its clients are treated with the highest standards of
professionalism and respect with a view of enhancing customer relations. Any queries forwarded are addressed professionally and followed up using the required level of expertise, bearing in mind that client satisfaction is our main priority. In a nutshell, evix cares.</p>
											      </dd>
											      <dt><a class="accordionTitle" href="#">Using VX, a school increased its efficiency by 50% - Really?</a></dt>
											      <dd class="accordionItem accordionItemCollapsed">
												<p>Vx ISM has been developed with the core intent of improving the efficiency in which a school’s
administrative tasks are undertaken. This in turn boosts productivity as a result of the school’s efficiency approaching an optimum level. This is achieved by developing efficient communication channels, reducing time taken to perform specific tasks, thus saving on time and resources.</p>
											      </dd>
											      <dt><a class="accordionTitle" href="#">I know of schools that want to acquire VX - what do I do?</a></dt>
											      <dd class="accordionItem accordionItemCollapsed">
												<p>We highly welcome and appreciate any efforts extended towards referring our product and
services to other schools. Potential clients can get to us via our website and access our contacts found in the “Contacts page” to place their order. Any inquiries are attended to with first priority.</p>
											      </dd>
											      <dt><a class="accordionTitle" href="#">Is it true that evix is owned and run by a USA company?</a></dt>
											      <dd class="accordionItem accordionItemCollapsed">
												<p>We are honored to have investors who believe in our company, and who have been kind enough to invest thousands of dollars into the company. However, this does not mean that they own the company.</p>
											      </dd>
											    </dl>
											  </div>
											</div><!-- accordion ends here -->	
										</div>
									</div>	
							   </div>
							</div><!-- end container -->
						 </div>
					  </div>
					 </div>
	             <!---- About Us ------>
	           <div class="about" id="about">
	 		 	<div class="wrap">
	 		 	    <h2>What People say about us</h2>
	 		 	      <div class="line rose"><span> </span></div>
	 		            <h4>Our investors & clients love us!</h4>
	 		 	                <div class="testimonials">
							       <div class="section group">
										<div class="listview_1_of_2 images_1_of_2">
											<div class="listimg listimg_2_of_1">
												  <img src="/static/images/client_img6.png" alt="" />
											</div>
										    <div class="text list_2_of_1">
												<p>“Revolutionary. VX is truly the future of information management.”</p>
										         <h3>Colin Monteith</h3>
										         <h5>Investor</h5>
										   </div>
									   </div>			
										<div class="listview_1_of_2 images_1_of_2">
											<div class="listimg listimg_2_of_1">
												  <img src="/static/images/client_img6.png" alt="" />
											</div>
											<div class="text list_2_of_1">
												  <p>“This is by far the best product I have seen,  and trust me, I have seen many.”</p>
												  <h3>Ms Florence</h3>
										         <h5>Ministry Of Education</h5>
											</div>
										</div>
									</div>
								 </div>
								 <div class="testimonials2">
									<div class="section group">
										<div class="listview_1_of_2 images_1_of_2">
											<div class="listimg listimg_2_of_1">
												  <img src="/static/images/client_img6.png" alt="" />
											</div>
										    <div class="text list_2_of_1">
												<p>“VX was just the tool we needed. It is very simple to use and didn’t take our staff much time to get used to.”</p>
										         <h3>Nixon Njue</h3>
										         <h5>School Principal</h5>
										   </div>
									   </div>			
										<div class="listview_1_of_2 images_1_of_2">
											<div class="listimg listimg_2_of_1">
												  <img src="/static/images/client_img6.png" alt="" />
											</div>
											<div class="text list_2_of_1">
												  <p>"We are very pleased with the entire process, communication, work, quality, and responsiveness."</p>
												  <h3>EMMA Wangui</h3>
										         <h5>School Principal</h5>
											</div>
										</div>
									</div>
					             </div>
					        </div>
	 		           </div>
	           <!--- Testimonials ----------->
	            <div class="feedback" id="contact">
	 		 	   <div class="wrap">
	 		 	    <h2>Get in Touch</h2>
	 		 	      <div class="line blue"><span> </span></div>
	 		            <h4>P.O Box 75104-00200, Nairobi, Kenya. Tel: (+254) 715-305290, (+254) 725-080375</h4>
	 		 	                    <form>
	 		 	                    <div class="text-box">
	 		 	                     <label>
									 <input type="text" class="textbox" value="Your Name:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name:';}">
									</label>
									<label>
									 <input type="text" class="textbox" value="Your Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email:';}">
									</label>
									<label>
									 <input type="text" class="textbox" value="Your School (Optional):" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your School:';}">
									</label>
									<div class="clear"></div>
									</div>
									<textarea value="Your Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Message:';}">Message</textarea>
									<input type="submit" value="Send Message">									
									</form>
								 
					           </div>
	 		           </div>
	            
	            
	      </div>       	    
      </div>
     		<div class="copy-right">
			<div class="wrap">
				<p class="copy">©<span id="YEAR">2015</span>. All rights reserved. VX ISM and the VX ISM Logo are registered trademarks of <a href="http://evix.org" target="_blank">evix</a>.</p>
			</div>
	  </div>       
   <script src="/static/js/jquery.scrollTo.js"></script>
	<script src="/static/js/jquery.nav.js"></script>
	<script>
	$(document).ready(function() {
		$('#nav').onePageNav({
			begin: function() {
			console.log('start')
			},
			end: function() {
			console.log('stop')
			}
		});
	});
	</script>
	<!-- accordion -->
	<script src="/static/js/accordion.js"></script>

	<script>
	/* Year Updates */
	$(document).ready(function() {$('#YEAR').text(new Date().getFullYear());});
	</script>
	</body>
<!-- <a class="various" data-fancybox-type="iframe" href="http://127.0.0.1/">Iframe</a> -->
</html>

